.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.calc_button{
  background-color: black;
  color:white;
  padding:3px;
  float:left;
}

.calc_display{
  overflow:scroll;
  height: 200px;
  background-color: black;
  color:white;
  bottom:0;
  right:0;
  
  /*Hide Scrollbar*/
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.calc_display_div{
  overflow:hidden;
  width:100%;
  bottom:0;
  right:0;
}

.calc_display_div p{
  text-align: right;
  bottom:0;
  right:0;
}

.history_calc{
  line-height: 1.3em;
  max-height: 1.3em;
}

.sep_line{
  width:100%;
  border-bottom: 1px solid white;
  overflow: hidden;
}


.calc_display::-webkit-scrollbar{
  display: none;
}

.top_content{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: black;
}

.hide_calc{
  display:none;
}

.show_history{
  background-color: black;
  color:white;
}

.bottom_content{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: black;
}